<%- include('partials/header') %>

<main>
  <h1><%= project.service_project_title %></h1>
<div class="project-tags">
    <h3>Category Tags:</h3>
    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/category/<%= category.category_id %>" class="tag-button">
                    <%= category.category_name %>
                </a>
            </li>
        <% }) %>
    </ul>
    <p>
        <a href="/assign-categories/<%= project.service_project_id %>" class="tag-button">Edit Categories</a>
    </p>
</div>
</main>

<%- include('partials/footer') %>